[submodule "leveldb/src/main/cpp/leveldb"]
	path = leveldb/src/main/cpp/leveldb
	url = https://github.com/google/leveldb.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/edwardstock/android-lib-tools.git
